<h2>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</h2>
<p>{{post.author}}</p>
<p>{{post.date}}</p>
<img src={{post.image}} alt="featured-image"/>
{{#if isContentShowing }}
   <p {{action 'contentHide'}}>{{post.content}}</p>
 {{else}}
   <button {{action 'contentShow'}}>Show Post Content</button>
{{/if}}
<p>{{post.tags}}</p>
